<h4 class="border-bottom pb-2">Ürünler ({{products.length}})</h4>
<div class="list-group">
    <div *ngFor="let product of products" href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{product.name! | titlecase | truncate:7}}</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{product.description}}</p>
      <span class="text-danger">{{product.price | currency:'₺':true:'1.2-2'}}</span>
    </div>
  </div>

